@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-transform {
    -webkit-transform: translateX(-50%);
  }

  .blur-bg-nav {
    backdrop-filter: blur(20px);
    background: rgba(28, 28, 28, 0.4);
  }

  .almost-gray {
    color: rgb(136, 136, 136);
  }
}

.project-desc {
  border: 1px solid whitesmoke;
}

@media only screen and (max-width: 600px) {
  .container .project-header {
    font-size: 1.2rem;
  }

  .project-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
  }
}